* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #1D1D1F;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 0px 40px;
}

.logo {
    height: 90px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #830000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    body {
        padding: 90px 0;
    }

    .contenido-principal {
        flex-direction: column;
    }

    .contenido-principal>* {
        width: 100%;
    }
}

@media (max-width: 802px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #242424;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    #check:checked~ul {
        left: 0;
    }

    body {
        padding: 40px 0;
    }

    .contenido-principal {
        flex-direction: column;
    }

    .contenido-principal>* {
        width: 100%;
    }
}




.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */
.contenido-principal {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.contenido-principal__imagen {
    margin: 10px;
    vertical-align: top;
    margin-right: 50px;
    width: 60%;
    max-width: 550px;
}

.contenido-principal__contenedor {
    width: 100%;
}

.contenido-principal__titulo {
    margin: 10px;
    font-weight: normal;
    font-size: 28px;
}

.contenido-principal__resumen {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: #ffffff;
    font-size: 16px;
   
}
