
.contact .row{
    display: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    color: #1D1D1F;
 }

.contact .row input{
    display: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    color: #ffffff;
 }
 
 .contact .row .image{
    flex:1 1 40rem;
 }
 
 .contact .row .image img{
    width: 100%;
 }
 
 .contact .row form{
    border:var(--border);
    flex:1 1 40rem;
    padding:2rem;
    text-align: center;
 }
 
 .contact .row form h3{
    font-size: 2.5rem;
    color:var(--white);
    text-transform: capitalize;
    margin-bottom: 1rem;

 }
 
 .contact .row form .box{
    width: 100%;
    border:var(--border);
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    margin:.5rem 0;
 }
 
 .contact .row form textarea{
    height: 15rem;
    resize: none;
 }
 
 .steps .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .steps .box-container .box{
    text-align: center;
    padding:2rem;
    border:var(--border);
 }
 
 .steps .box-container .box img{
    height: 15rem;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: contain;
 }
 
 .steps .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
    text-transform: capitalize;
 }
 
 .steps .box-container .box p{
    font-size: 1.6rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .search-form form{
    display: flex;
    gap:1rem;
 }
 
 .search-form form input{
    width: 100%;
    padding:1.4rem;
    font-size: 1.8rem;
    border:var(--border);
    color:var(--black);
 }
 
 .search-form form button{
    width: 6rem;
    font-size: 2rem;
    background-color: var(--black);
    color:var(--white);
    cursor: pointer;
 }
 
 .search-form form button:hover{
    background-color: var(--yellow);
    color:var(--black);
 }
 
 .user-details .user{
    border:var(--border);
    padding:2rem;
    max-width: 40rem;
    margin:0 auto;
 }
 
 .user-details .user img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
    margin-bottom: 2rem;
 }
 
 .user-details .user p{
    line-height: 1.5;
    margin-bottom: .5rem;
    font-size: 2rem;
 }
 
 .user-details .user p span{
    color:var(--black);
 }
 
 .user-details .user i{
    margin-right: .7rem;
    color:var(--light-color);
 }
 
 .user-details .user p.address{
    margin-top: 2rem;
 }
 
 .form-container form{
    max-width: 50rem;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
    text-align: center;
 }
 
 .form-container form h3{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .form-container form .box{
    margin:1rem 0;
    padding:1.4rem;
    color:var(--black);
    border:var(--border);
    font-size: 1.8rem;
    width: 100%;
 }
 
 .form-container form p{
    margin-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .form-container form p a{
    font-size: 2rem;
    color:var(--red);
 }
 
 .form-container form p a:hover{
    color:var(--black);
 }
 
 .checkout form{
    max-width: 50rem;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
 }
 
 .checkout form .cart-items{
    background-color: var(--black);
    padding:2rem;
 }
 
 .checkout form .cart-items h3{
    font-size: 2.5rem;
    color:var(--white);
    text-transform: capitalize;
    margin-bottom: 2rem;
 }
 
 .checkout form .cart-items p{
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content: space-between;
    margin:1rem 0;
    line-height: 1.5;
    font-size: 2rem;
 }
 
 .checkout form .cart-items p .name{
    color:var(--black);
 }
 
 .checkout form .cart-items p .price{
    color:var(--black);
 }
 
 .checkout form .cart-items .grand-total{
    background-color:var(--black);
    padding:1rem;
 }
 
 .checkout form .cart-items .grand-total .name{
    color:var(--black);
 }
 
 .checkout form .cart-items .grand-total .price{
    color:var(--black);
 }
 
 .checkout form .user-info h3{
    font-size: 2.5rem;
    margin: 2rem 0;
    color:var(--black);
    text-transform: capitalize;
 }
 
 .checkout form .user-info p{
    line-height: 1.5;
    font-size: 2rem;
    margin:1rem 0;
 }
 
 .checkout form .user-info p span{
    color:var(--black);
 }
 
 .checkout form .user-info p i{
    color:var(--light-color);
    margin-right: .7rem;
 }
 
 .checkout form .user-info .box{
    width: 100%;
    border:var(--border);
    padding:1.4rem;
    color:var(--black);
    font-size: 1.8rem;
    margin-top: 2rem;
 }
 
 .checkout form .order-btn{
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    background-color: var(--black);
    color: white;
 }
 
 .orders .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .orders .box-container .box{
    border:var(--border);
    padding:1rem 2rem;
 }
 
 .orders .box-container .box p{
    font-size: 2rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .orders .box-container .box p span{
    color:var(--black);
 }

 .contactoh3{
     color: white;
     text-align: center;
     font-size: 25px;
 }
